@model List<Department>
@* @{
    Layout = "_MyLyout";
} *@
@section nav {

    <li class="nav-item"><a class="nav-link text-dark" href="\Trainee\Index">Trainee</a></li>
    <li class="nav-item"><a class="nav-link text-dark" href="\Department\Deptinfo">department</a></li>
    <li class="nav-item"><a class="nav-link text-dark" asp-action="DiplayAll" asp-controller="Instructor">Instractore</a></li>
    <li class="nav-item"><a class="nav-link text-dark" asp-action="DisplayAll" asp-controller="CrsResult">Course Result</a></li>
}
<table class="table table-bordered table-hover">
    <tr>
        
        <td>id</td>
        <td>Department Name</td>
        <td>manager Name</td>
        <td>Editing</td>


    </tr>
    @foreach (var item in Model)
    { 
        <tr>
            <td>@item.Id</td>
            <td>
                <button type="button" onclick="show(@item.Id)" style="border:none; background:none; padding:0;">
                    @item.Name
                </button>
                
            </td>
            <td>@item.Manager</td>
            <td>
                <form asp-action="updatedept" asp-controller="Department" asp-route-id="@item.Id" method="post">
                    <button type="submit" style="border:none; background:none; padding:0;">
                        <a class ="btn btn-alert-success">Edit</a>
                    </button>
                   
                </form>
            </td>

            
            <td>
                <form asp-action="Deletedept" asp-controller="Department" asp-route-id="@item.Id" method="post">
                    <button type="submit" style="border:none; background:none; padding:0;">
                        <a class="btn btn-alert-success">Delete</a>
                    </button>
                  
                </form>
               
             </td>
        </tr>
    }
    
</table>
<button type="submit" style="border:solid;padding:0;">
    <a asp-action="Addnewdept" asp-controller="Department" class="btn btn-alert-success"> Add New Department</a>
</button>
<div id="div1">


</div>
@section Scripts {
  
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js">
    </script>

    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js">
    </script>

}


<script>
    function show(id) {
      
        $.ajax(
            {
                url: "/Department/DepartmentTrainee",
                type: "POST",
                data: { "id": id },
                success: function (result) {
                    $("#div1").html(result);
                }
            }
        );
    }

</script>

